<img src="image/fondo.jpeg" alt="" class="fondo">
<div class="container2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="tarjeta-contacto">
                    <img src="image/ig.png" alt="Instagram" class="logo-contacto img-fluid">
                    <h2>Instagram</h2>
                    <p>@colombianosgusticos</p>
                    <button class="btn btn-instagram"
                        onclick="window.open('https://www.instagram.com/colombianosgusticos/?hl=en', '_blank')">Ir a
                        Instagram</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tarjeta-contacto">
                    <img src="image/wpp.png" alt="WhatsApp" class="logo-contacto img-fluid">
                    <h2>WhatsApp</h2>
                    <p>+57 366 845 9612</p>
                    <button class="btn btn-whatsapp"
                        onclick="window.open('https://wa.me/+573668459612', '_blank')">Enviar
                        mensaje</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tarjeta-contacto">
                    <img src="image/fb.png" alt="Facebook" class="logo-contacto img-fluid">
                    <h2>Facebook</h2>
                    <p>/Sabor Tradicion</p>
                    <button class="btn btn-facebook"
                        onclick="window.open('https://www.facebook.com/p/Sabor-y-Tradici%C3%B3n-100063534910588/?paipv=0&eav=AfaD7ZswZTlNodKXIRf7vav8DB_ZEQtHQJ0H0EvjDUQjwBCp5uqDri-7pdtYjarhMEY&_rdr', '_blank')">Ir
                        a Facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>