<div class="container">
  <img src="image/fondo.jpeg" alt="" class="fondo">

  <div class="row mt-4 d-flex justify-content-around">
    <div class="col-md-4 col-sm-12 mb-4 mt-5">
      <h2>RESTAURANTE SABOR Y TRADICIÓN</h2>
      <p>Con música en vivo, platos exquisitos, coctelería de autor y los mejores shows de la ciudad.</p>
      <a href="/reservar" class="btn btncolor registrobtn d-block">RESERVAR</a>
    </div>
    <div class="col-md-4">
      <img src="image/logo.png" alt="Logo de la empresa" class="logito">
    </div>
  </div>

  <div class="container mb-5 mt-4">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <div class="card transparente">
          <img src="image/cocteles.jpg" class="card-img-top" alt="Imagen 1">
          <div class="card-body">
            <p class="card-text">COCTELES</p>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card transparente">
          <img src="image/fuertes.jpg" class="card-img-top" alt="Imagen 2">
          <div class="card-body">
            <p class="card-text">FUERTES</p>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card transparente">
          <img src="image/postres.jpg" class="card-img-top" alt="Imagen 3">
          <div class="card-body">
            <p class="card-text">POSTRES</p>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card transparente">
          <img src="image/bebidas.avif" class="card-img-top" alt="Imagen 4">
          <div class="card-body">
            <p class="card-text">BEBIDAS</p>
          </div>
        </div>
      </div>
    </div>
  </div>