<img src="image/fondo.jpeg" alt="" class="fondo">

<div class="container2 container">
    <div class="formulario2">
        <h1 class="text-center">REGISTRARSE</h1>
        <div class="formulario3">
            <form action="/">
                <input type="text" name="nombre" placeholder="Nombre completo" class="borde" required>
                <input type="text" name="apellidos" placeholder="Apellidos completos" class="borde" required>
                <input type="email" name="correo" placeholder="Correo electrónico" class="borde" required>
                <input type="password" name="contrasena" placeholder="Password" class="borde" required>
                <input type="text" name="ciudad" placeholder="Fecha de Nacimiento" class="borde" required>
                <input type="text" name="direccion" placeholder="Dirección de residencia" class="borde" required>
                <button type="submit" class="registro">COMPLETAR</button>
            </form>
        </div>
    </div>
    <div style="flex: 1;">
        <img src="image/logo.png" alt="Logo de la empresa" class="logito">
    </div>
</div>