<footer class="footer">
	<div class="map-container">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126923.62036171622!2d-75.67176137868019!3d6.21574918537338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683fb4d91de37%3A0x282f2469867d99a7!2sSabor%20y%20tradici%C3%B3n%20de%20la%20abuela!5e0!3m2!1sen!2sco!4v1700155299007!5m2!1sen!2sco"
			width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="social-media">
		<p class="textohd">REDES SOCIALES: </p>
		<div class="logos">
			<a
				href="https://www.facebook.com/p/Sabor-y-Tradici%C3%B3n-100063534910588/?paipv=0&eav=AfaD7ZswZTlNodKXIRf7vav8DB_ZEQtHQJ0H0EvjDUQjwBCp5uqDri-7pdtYjarhMEY&_rdr"><img
					src="image/fb.png" alt="Facebook"></a>
			<a href="https://wa.me/+573668459612"><img src="image/wpp.png" alt="Whatsapp"></a>
			<a href="https://www.instagram.com/colombianosgusticos/?hl=en"><img src="image/ig.png" alt="Instagram"></a>
		</div>
		<div class="address">
			<p class="textohd">Dirección: https://maps.app.goo.gl/DLiLYjXjT8jYB6iL9</p>
		</div>
	</div>
</footer>