<div class="containerr">
  <div class="logo-container">
    <img src="image/logo.png" alt="Logotipo" class="logo-mini">
    <a class="nav-link textohd" href="/">Sabor y tradicion</a>
  </div>
  <ul class="nav nav-pills headersito">
    <li class="nav-item espacio">
      <a class="nav-link textohd" href="/">Home</a>
    </li>
    <li class="nav-item espacio">
      <a class="nav-link textohd" href="/reservar">Reservar</a>
    </li>
    <li class="nav-item espacio">
      <a class="nav-link textohd" href="/crud">CRUD</a>
    </li>
    <li class="nav-item espacio">
      <a class="nav-link textohd" href="/contactos">Contactos</a>
    </li>
    <li class="nav-item espacio">
      <a class="btn btncolor registrobtn" href="/registrar">Registrar</a>
    </li>
    <li class="nav-item espacio">
      <a class="btn btn-light registrobtn" href="/login" style="margin-right: 50px;">Ingresar</a>
    </li>
  </ul>
</div>