<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="/listarReserva" method="post"> 

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registra producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div class="mb-3">
            <label for="referencia" class="form-label">Ref</label>
            <input type="text" name="referencia" class="form-control" id="referencia">

          </div>

          <div class="mb-3">
            <label for="n_producto" class="form-label">Producto</label>
            <input type="nombre" name="n_producto" class="form-control" id="n_producto">

          </div>

          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" name="cantidad" class="form-control" id="cantidad">

          </div>

          <div class="mb-3">
            <label for="total" class="form-label">Total</label>
            <input type="number" name="total" class="form-control" id="total">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>